.fullCart {
    width: 90vw;

}

.fullCart__products {
    width: 100%;
}

.fullCart__products>tr {
    height: 50px;
    text-align: center;
}

.fullCart__products>tr>th:first-child {
    width: 50%;

}

.fullCart__couponWrapper {
    text-align: left;
    margin: auto 0;
    padding: 10px;
}

.fullCart__couponWrapper>input {
    height: 40px;
    margin-right: 10px;

}

.fullCart__updateCartWrapper {
    text-align: right;
}

.fullCart__product {}