.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "location date"
        "check-number ."
        "order-details order-details"
        "sub-total loyalty-card-number"
        "first-name last-name"
        "email phone"
        "button .";
    margin-top: 20px;
}

.field {
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: auto;
}

.errorMsg {
    color: #8b0000 !important;
    font-family: "PatuaOne";
    font-size: 1em;
}

.field>label {
    font-weight: bold;
    font-family: "PatuaOne";
    font-size: 1.1em;
    margin-bottom: 10px;
}

.field>label:not([for="lastName"])::after {
    content: " *";
    color: #8b0000;
}

.location {
    grid-area: location;
}

.date {
    grid-area: date;
}

.check-number {
    grid-area: check-number;
}

.order-details {
    grid-area: order-details;
}

.sub-total {
    grid-area: sub-total;
}

.loyalty-card-number {
    grid-area: loyalty-card-number;
}

.first-name {
    grid-area: first-name;
}

.last-name {
    grid-area: last-name;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.button {
    grid-area: button;
}