.carousel-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: absolute;
}

.carousel-indicators li {
    height: 8px !important;
    width: 40px !important;
    border-radius: 12px !important;
}

.product {
    display: flex;
    width: 80vw;
    height: auto;
}

.product__content {
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 0px 40px;

    justify-content: flex-start;
    align-items: flex-start;
}

.product__image {
    width: 50vw;
    height: 60vh;
    overflow: hidden;
}

.product__carousel {
    height: 50vh;
    width: 3;
}

.product__relatedProducts {
    display: flex;
    flex-direction: row;

}

.product__selectInput {}